.container-fluid{
    background-color:#ffc300;
    display: flex;
    justify-content: flex-end;
}
.navbar-header{
    margin-right:800px;
}
body{
    margin:0%;
    /* height:500px; */
}
main{
    padding: 120px;
    text-align: center;
    /* justify-content: center; */
}
h1{
    color: green;
}
footer{
    margin-top:100px;
    margin-bottom: 0px;
    height:130px;
    text-align: center;
    background-color:#131041;
    color: #ffc300;
    display:flex;
    justify-content: space-around;
}
ul{
    list-style: none;
}
.bottomnav{
    padding:30px;
}
h1{
    font-family: 'Pushster';
    font-size: 75px;
    margin-bottom: 8px;
    animation-name: example;
    animation-duration: 7s;
}
@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}  
}
img{
    height: 100px;
    width:100px;
}
.navline{
    margin-top:0px;
}
.search_barea{
    display:flex;
    justify-content: center;
}
.above_navbar{
    display: flex;
    margin-right:200px;
}
a{
    margin-top: 50px;
    margin-right: 10px;
}