header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    height: 55px;
    box-shadow: 0px 0px 10px 0px;
   
}
.boxOutside{
    margin-top:10px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:900px;
    height: 120px;
    /* border: solid black 1px; */
}
.maintitle{
    text-align:center;
    align-items: center;
    font-size:50px;
    font-family:"shizuru";
}
.boxInside{
    border: solid black 1px;
    display: grid;
    align-items:center;
    justify-content: space-around;
    opacity: 85%;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 30px; */
    border-radius:12px;
    box-shadow: 0px 2px 3px 0px;
    width:100px;
    height:100px;
}
.iconImage{
    margin-top: 10px;
}
main{
    display:grid;
    justify-content: center;
}
.tickerText{
    margin-top: 0px;
    text-align: center;
    font-family:"Playfair display";
    color: black;
    text-decoration: none;
    padding:40px;

}
.holdMainContent{
    border: solid black 1px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: auto;
}
hr{
    margin-top:0px;
}
.titleOne{
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family:"shizuru";
}
body{
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
}